button {
  margin: 10px;
  margin-bottom: 5px;
  width: 80px;
  height: 30px;
  border-radius: 10px;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}

.options p {
  font-size: 16px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.options__section {
  text-align: center;
  background-color: lightgrey;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
  width: 320px;
}

.cover-art {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results {
  position: relative;
  margin-top: 15px;
}

.cover-art img {
  width: 360px;
}

.selected {
  background-color: pink;
}

.title {
  position: absolute;
  top: -10px;
  left: 35px;
  z-index: 1;
  width: 325px;
  font-family: "Helvetica";
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title-now {
  font-size: 25px;
  margin-bottom: -9px;
  margin-top: 15px;
}
#title-thats {
  font-size: 7px;
  margin-bottom: -16px;
  border-style: solid;
  border-radius: 5px;
  width: 90px;
}
#title-username {
  font-size: 17px;
}

#slogan {
  position: absolute;
  top: 289px;
  left: 36px;
  z-index: 1;
  width: 165px;
  font-size: 16px;
  font-family: "Helvetica";
  font-weight: bold;
}

:root {
  --tropical: #e4fee8;
  --tropical-accent: #230c5a;
  --ice: #b4e9f0;
  --ice-accent: #0d1f27;
  --bubbles: white;
  --bubbles-accent: #3f1635;
  --balloons: yellow;
  --balloons-accent: rgb(98, 11, 76);
  --fireworks: #2c125d;
  --fireworks-accent: #fafae3;
  --splash: yellow;
  --splash-accent: #093a41;
}

.text--Tropical {
  color: var(--tropical);
  text-shadow: -1px -1px 0 var(--tropical-accent),
    1px -1px 0 var(--tropical-accent), -1px 1px 0 var(--tropical-accent),
    1px 1px 0 var(--tropical-accent);
}

.text--Tropical__highlighted {
  color: var(--tropical);
  background-color: var(--tropical-accent);
}

.text--Ice {
  color: var(--ice);
  text-shadow: -1px -1px 0 var(--ice-accent), 1px -1px 0 var(--ice-accent),
    -1px 1px 0 var(--ice-accent), 1px 1px 0 var(--ice-accent);
}

.text--Ice__highlighted {
  color: var(--ice-accent);
  background-color: var(--ice);
}

.text--Balloons {
  color: var(--balloons);
  text-shadow: -1px -1px 0 var(--balloons-accent),
    1px -1px 0 var(--balloons-accent), -1px 1px 0 var(--balloons-accent),
    1px 1px 0 var(--balloons-accent);
}

.text--Balloons__highlighted {
  color: var(--balloons-accent);
  background-color: var(--balloons);
}

.text--Bubbles {
  color: var(--bubbles);
  text-shadow: -1px -1px 0 var(--bubbles-accent),
    1px -1px 0 var(--bubbles-accent), -1px 1px 0 var(--bubbles-accent),
    1px 1px 0 var(--bubbles-accent);
}

.text--Bubbles__highlighted {
  color: var(--bubbles);
  background-color: var(--bubbles-accent);
}

.text--Fireworks {
  color: var(--fireworks);
  text-shadow: -1px -1px 0 var(--fireworks-accent),
    1px -1px 0 var(--fireworks-accent), -1px 1px 0 var(--fireworks-accent),
    1px 1px 0 var(--fireworks-accent);
}

.text--Fireworks__highlighted {
  color: var(--fireworks);
  background-color: var(--fireworks-accent);
}

.text--Splash {
  color: var(--splash);
  text-shadow: -1px -1px 0 var(--splash-accent), 1px -1px 0 var(--splash-accent),
    -1px 1px 0 var(--splash-accent), 1px 1px 0 var(--splash-accent);
}

.text--Splash__highlighted {
  color: var(--splash-accent);
  background-color: var(--splash);
}

.barcode {
  position: absolute;
  top: 308px;
  left: 274px;
  z-index: 1;
  width: 77px;
}

.date-and-url {
  position: absolute;
  top: 333px;
  left: 37px;
  z-index: 1;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: "Arial Narrow";
  font-weight: bold;
  font-size: 10px;
}

.tracks-ten p {
  font-family: "Arial Narrow";
  font-size: 14px;
  margin-bottom: -8px;
  margin-top: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tracks-twenty p {
  font-family: "Arial Narrow";
  font-size: 12px;
  margin-bottom: -13.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tracks-fifty p {
  font-family: "Arial Narrow";
  font-size: 9.5px;
  margin-bottom: -10.8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 10px);
}

.tracks-ten,
.tracks-twenty,
.tracks-fifty {
  position: absolute;
  top: 52px;
  left: 35px;
  z-index: 1;
  width: 325px;
}

.tracks-fifty {
  display: flex;
  gap: 4px; /* Adjust this value as needed for spacing between columns */
  justify-content: space-between;
  /* You can also use 'column-count: 2;' instead of flex properties if you prefer columns */
}

.left-column,
.right-column {
  width: calc(
    50% - 2px
  ); /* Adjust the width as needed for your desired column layout */
}

.left-column {
  order: 1; /* Ensure the left column comes first */
}

.right-column {
  order: 2; /* Ensure the right column comes second */
}

.bold {
  font-weight: bold;
}

.lower-third {
  display: flex;
  flex-direction: column;
 align-items: center;
  margin-top: 20px;
  background-color: lightgrey;
  padding: 5px;
  
}
.lower-third button {
  width: 110px;
  height: 50px;
  font-size: 16px;
  margin-bottom: 0;
}

.lower-third button:hover {
  background-color: pink;
}
