/* .App {
  text-align: center;
} */

div,
button {
  margin: 10px;
}

.selected {
  background-color: pink;
}

.tracks-ten p {
  font-family: "Arial Narrow";
  font-size: 14px;

  margin-bottom: -14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bold {
  font-weight: bold;
}
