.save-button button {
    border-radius: 10px;
    margin: 1vh 2vh;
    width: 13vh;
    height: 6.5vh;
    font-size: 1.9vh;
  }
  
  .save-button button:hover {
    background-color: pink;
  }
  
  .save-button{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }